{% extends 'base.html.twig' %}

{% block body %}
    <table style="background-color: #5eb5e0; box-shadow: 2px 2px 2px 2px grey">
        <tr>
            <td>
                <img style="max-width: 100px" src="{{ asset('photos/mytable.jpg') }}">
            </td>
            <td width="1000px" align="right">
                <a style="color: white;" href={{ path('fos_user_profile_show') }}><b>Profil MyTable</b></a>
            </td>
            <td>
                <div align="center" style="height: 30px; background-color: darkorange; border-radius: 6px;">
                        <a style="color: white;" href="{{ path('advert_new') }}"><b>+ DODAJ OGŁOSZENIE</b></a>
                </div>
            </td>

        </tr>
    </table>
    <h2>Najnowsze ogłoszenia</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Expirydate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            {% if advert.expiryDate.timestamp > date().timestamp %}
            <tr>
                <td><a href="{{ path('advert_show', { 'id': advert.id }) }}">{{ advert.id }}</a></td>
                <td>{{ advert.title }}</td>
                <td>{{ advert.description }}</td>
                <td>
                    {% if advert.photo %}
                    <img style="max-width: 300px" src ="/uploads/photo/{{ advert.photo }}"/>
                    {% else %}
                        <img style="max-width: 150px" src ="/photos/indeks.jpg"/>
                    {% endif %}
                </td>
                <td>{% if advert.expiryDate %}{{ advert.expiryDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('advert_show', { 'id': advert.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('advert_edit', { 'id': advert.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
