{% extends 'base.html.twig' %}

{% block body %}
    <table style="background-color: #5eb5e0; box-shadow: 2px 2px 2px 2px grey">
        <tr>
            <td>
                <a href="{{ path('advert_index') }}"><img style="max-width: 100px" src="{{ asset('photos/myadvert.jpg') }}"></a>
            </td>
            <td width="1000px" align="right">
                <a style="color: white;" href={{ path('fos_user_profile_show') }}><b>Profil MyTable</b></a>
            </td>
            <td>
                <div align="center" style="height: 30px; background-color: darkorange; border-radius: 6px;">
                        <a style="color: white;" href="{{ path('advert_new') }}"><b>+ DODAJ OGŁOSZENIE</b></a>
                </div>
            </td>

        </tr>
    </table>
    <br>
    <table >
        <tr style="border: solid darkgreen">
            {% for category in categories %}
            <td width="2000px" style="box-shadow: 3px 3px 3px 3px grey;border: 5px solid silver; border-radius: 6px;background-color: darkorange"><a style="color: white; font-weight: bolder" href="{{ path('advert_show_category',{'category':category.title})}}">{{ category.title }}</a></td>
            {% endfor %}
        </tr>
    </table>
    <h2>Najnowsze ogłoszenia</h2>
    <table style="float: left; box-shadow: 3px 3px 3px 3px grey" border="solid black" rules="all" >
        <tbody>
        {% for advert in adverts %}
            {% if advert.expiryDate.timestamp > date().timestamp and advert.id%2 == 1%}
            <tr style="box-shadow: 3px 3px 3px 3px grey; background-color: #ffac44">
                <td>{{ advert.title }} <b> - {{ advert.price }} zł</b></td>
                <td>{{ advert.description }}</td>
                <td>
                    {% if advert.photo %}
                    <img style="width: 170px; height: 110px;" src ="/uploads/photo/{{ advert.photo }}"/>
                    {% else %}
                        <img style="max-width: 150px" src ="/photos/indeks.jpg"/>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('advert_show', { 'id': advert.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr style="height: 8px;"></tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <table style="float: right; box-shadow: 3px 3px 3px 3px grey" border="solid black" rules="all" >
        <tbody>
        {% for advert in adverts %}
            {% if advert.expiryDate.timestamp > date().timestamp and advert.id%2 == 0%}
                <tr style="box-shadow: 3px 3px 3px 3px grey; background-color: #ffac44">
                    <td>{{ advert.title }} <b> - {{ advert.price }} zł</b></td>
                    <td>{{ advert.description }}</td>
                    <td>
                        {% if advert.photo %}
                            <img style="width: 170px; height: 110px;" src ="/uploads/photo/{{ advert.photo }}"/>
                        {% else %}
                            <img style="max-width: 150px" src ="/photos/indeks.jpg"/>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('advert_show', { 'id': advert.id }) }}">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr style="height: 8px;"></tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
